@model PrivacyViewModel
@using TwitterClone.Entity;
<link rel="stylesheet" href="~/css/main.css">

<style>
    .edit-btn,
    .delete-btn {
        border-radius: 8px;
        background-color: #1da1f2;
        color:white;
        border: 0px solid #3498db; 
    }

</style>


<div class="twitter-column-2">
    <div class="column-2-header">
        <div class="column-2-head-icon">
            <i style='font-size:24px' class='fas'>&#xf060;</i>
        </div>
        <div class="column-2-head-user">
            <h2>@Model.User.Username</h2>
            <P>@Model.User.PostCount Tweets</P>
        </div>
    </div>
    <div class="column-2-banner">
        <img src="~/img/kapakfoto.jpg" alt="profile pics" style="width:100%;">
    </div>
    <div class="column-2-user-tab">
        <div class="user-tab-1">
            <div class="user-tab-1-img">
                <img src="~/img/yeniuye.png" alt="@Model.User.Username's picture">
            </div>
            <div class="user-tab-1-cta">
                @if (User.Identity.IsAuthenticated && Model.User.Username == User.Identity.Name)
                {
                    <div class="cta-4">
                        <div class="tweet2" style="text-align:center;"><a href="~/Home/EditProfile">Edit Profile</a></div>
                    </div>
                }
                else if (User.Identity.IsAuthenticated && Model.User.Username != User.Identity.Name)
                {
                    if (Model.IsFollowing)
                    {
                        <form asp-action="Unfollow" method="post" asp-controller="User">
                            <input type="hidden" name="followingId" value="@Model.User.Id" />
                            <button type="submit" class="unfollow-btn">Takibi Bırak</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="Follow" method="post" asp-controller="User">
                            <input type="hidden" name="followingId" value="@Model.User.Id" />
                            <button type="submit" class="follow-btn">Takip Et</button>
                        </form>
                    }
                }

            </div>
        </div>
        <div class="user-tab-2">
            <h2>@Model.User.Username</h2>

        </div>
        <div class="user-tab-3">
            <div class="tab-3-first tab-3-item">
                <span> <i style='font-size:22px' class='fas'>&#xf57d;</i> </span>
                <p>Science & Technology</p>
                <span><iconify-icon class="tab-3-item-icon" icon="material-symbols:info-outline-rounded"></iconify-icon></span>
            </div>
            <div class="tab-3-second tab-3-item">
                <span> <i style='font-size:24px' class='fab'>&#xf167;</i>  </span>
                <p>@Model.User.Username</p>
            </div>
            <div class="tab-3-third tab-3-item">
                <span> <i style='font-size:24px' class='far'>&#xf073;</i> </span>
                <p>Joined @Model.User.JoinedDate.ToString("MMMM yyyy")</p>
            </div>
        </div>
        <div class="user-tab-4">
            <a class="tab-4-item" href="#" >
                <h2>@Model.FollowingsCount</h2>
                <span>Following</span>
            </a>
            <a class="tab-4-item" href="#" >
                <h2>@Model.FollowersCount</h2>
                <span>Followers</span>
            </a>
        </div>

        <div class="user-tab-5">
            <a class="tab-5-nav" href="#">Post</a>
            <a class="tab-5-nav" href="#">Persons</a>
        </div>
    </div>
    <hr style="margin-top:0px">
    @if (Model != null && Model.Posts != null)
    {
        foreach (var post in Model.Posts)
        {
            <div class="tweets">
                <div class="user-pics"><img src="~/img/yeniuye.png" alt="user3"></div>
                <div class="user-content-box">
                    <div class="user-names">
                        <h1 class="full-name">@Model.User.Username</h1>
                        <p class="time">@post.PostedOn.ToString("g")</p>
                        <!-- Açılır/Kapanır Alan -->
                        <div class="toggle-section-content" style="display: none; background-color: white; padding: 6px; margin-left:87px">
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </div>
                    </div>

                    <div class="user-content">
                        <p>@post.Content</p>
                    </div>

                    <div class="content-icons">
                        <i class="far fa-comment blue"> 109</i>
                        <i class="fas fa-retweet green"> 865</i>
                        <i class="far fa-heart red">1.6k</i>
                        <i class="fas fa-chevron-up blue toggle-section"></i>
                
                    </div>



                </div>
            </div>
        }
    }

    <hr>
</div>
<style>
    .follow-btn,
    .unfollow-btn {
        border-radius: 8px;
        background-color: #1da1f2;
        color: white;
        border: none;
        padding: 8px 16px;
        margin-top: 10px;
        cursor: pointer;
    }

    .unfollow-btn {
        background-color: #e0245e;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Ikonlara tıklanınca içeriği aç/kapat
        $(".toggle-section").click(function () {
            // Tıklanan ikonun parent'ının içindeki açılır/kapanır alanı bul ve aç/kapat
            var contentContainer = $(this).closest('.tweets');
            contentContainer.find(".toggle-section-content").slideToggle();
        });

        // Düzenle butonuna tıklanınca
        $(".edit-btn").click(function () {
            // Düzenleme işlemini burada gerçekleştirin
            alert("Düzenle butonuna tıklandı!");
        });

        // Sil butonuna tıklanınca
        $(".delete-btn").click(function () {
            // Silme işlemini burada gerçekleştirin
            alert("Sil butonuna tıklandı!");
        });
    });
</script>
